Repository cBioPortal/datahub, pull requests merged in 2021-06, with the labels that each got.

#1414 New public study: ihch_ismms_2015
  public/ihch_ismms_2015/HGVSP_short_unmatched_variants.txt
  public/ihch_ismms_2015/LICENSE
  public/ihch_ismms_2015/case_lists/cases_all.txt
  public/ihch_ismms_2015/case_lists/cases_sequenced.txt
  public/ihch_ismms_2015/consequence_unmatched_variants.txt
  public/ihch_ismms_2015/data_clinical_patient.txt
  public/ihch_ismms_2015/data_clinical_sample.txt
  public/ihch_ismms_2015/data_fusions.txt
  public/ihch_ismms_2015/data_mutations_extended.txt
  public/ihch_ismms_2015/data_mutations_mskcc.txt
  public/ihch_ismms_2015/meta_clinical_patient.txt
  public/ihch_ismms_2015/meta_clinical_sample.txt
  public/ihch_ismms_2015/meta_fusions.txt
  public/ihch_ismms_2015/meta_mutations_extended.txt
  public/ihch_ismms_2015/meta_study.txt
  public/ihch_ismms_2015/unannotated_variants.txt
Labels: Public Release, do not merge, in progress, new public study

#1419 CPTAC proteome data : BRCA, COADREAD and OV pancan studies
  public/brca_tcga_pan_can_atlas_2018/case_lists/cases_protein_quantification.txt
  public/brca_tcga_pan_can_atlas_2018/data_protein_quantification.txt
  public/brca_tcga_pan_can_atlas_2018/data_protein_quantification_Zscores.txt
  public/brca_tcga_pan_can_atlas_2018/meta_protein_quantification.txt
  public/brca_tcga_pan_can_atlas_2018/meta_protein_quantification_Zscores.txt
  public/coadread_tcga_pan_can_atlas_2018/case_lists/cases_protein_quantification.txt
  public/coadread_tcga_pan_can_atlas_2018/data_protein_quantification.txt
  public/coadread_tcga_pan_can_atlas_2018/data_protein_quantification_Zscores.txt
  public/coadread_tcga_pan_can_atlas_2018/meta_protein_quantification.txt
  public/coadread_tcga_pan_can_atlas_2018/meta_protein_quantification_Zscores.txt
  public/ov_tcga_pan_can_atlas_2018/case_lists/cases_all.txt
  public/ov_tcga_pan_can_atlas_2018/case_lists/cases_protein_quantification.txt
  public/ov_tcga_pan_can_atlas_2018/data_protein_quantification.txt
  public/ov_tcga_pan_can_atlas_2018/data_protein_quantification_Zscores.txt
  public/ov_tcga_pan_can_atlas_2018/meta_protein_quantification.txt
  public/ov_tcga_pan_can_atlas_2018/meta_protein_quantification_Zscores.txt
Labels: in progress

#1416 New public study: ihch_msk_2021
  public/ihch_msk_2021/LICENSE
  public/ihch_msk_2021/case_lists/cases_all.txt
  public/ihch_msk_2021/case_lists/cases_cna.txt
  public/ihch_msk_2021/case_lists/cases_cnaseq.txt
  public/ihch_msk_2021/case_lists/cases_sequenced.txt
  public/ihch_msk_2021/data_CNA.txt
  public/ihch_msk_2021/data_SV.txt
  public/ihch_msk_2021/data_clinical_patient.txt
  public/ihch_msk_2021/data_clinical_sample.txt
  public/ihch_msk_2021/data_cna_hg19.seg
  public/ihch_msk_2021/data_fusions.txt
  public/ihch_msk_2021/data_gene_matrix.txt
  public/ihch_msk_2021/data_mutations_extended.txt
  public/ihch_msk_2021/data_mutations_mskcc.txt
  public/ihch_msk_2021/data_timeline.txt
  public/ihch_msk_2021/meta_CNA.txt
  public/ihch_msk_2021/meta_SV.txt
  public/ihch_msk_2021/meta_clinical_patient.txt
  public/ihch_msk_2021/meta_clinical_sample.txt
  public/ihch_msk_2021/meta_cna_hg19_seg.txt
  public/ihch_msk_2021/meta_fusions.txt
  public/ihch_msk_2021/meta_gene_matrix.txt
  public/ihch_msk_2021/meta_mutations_extended.txt
  public/ihch_msk_2021/meta_study.txt
  public/ihch_msk_2021/meta_timeline.txt
Labels: new public study

#1393 all gene panels: updated outdated symbols
  reference_data/gene_panels/data_gene_panel_RMG.txt
  reference_data/gene_panels/data_gene_panel_agilent.txt
  reference_data/gene_panels/data_gene_panel_archer_heme.txt
  reference_data/gene_panels/data_gene_panel_bcc_unige_2016_cancer_panel.txt
  reference_data/gene_panels/data_gene_panel_cmo_hemepact_v3.txt
  reference_data/gene_panels/data_gene_panel_dfci_504.txt
  reference_data/gene_panels/data_gene_panel_fmi_d2.txt
  reference_data/gene_panels/data_gene_panel_fmi_r2.txt
  reference_data/gene_panels/data_gene_panel_gbm_tcga_pub.txt
  reference_data/gene_panels/data_gene_panel_glioma_dfci_2020_dfci_oncopanel1.txt
  reference_data/gene_panels/data_gene_panel_glioma_dfci_2020_dfci_oncopanel2.txt
  reference_data/gene_panels/data_gene_panel_glioma_dfci_2020_dfci_oncopanel3.txt
  reference_data/gene_panels/data_gene_panel_heme400.txt
  reference_data/gene_panels/data_gene_panel_myb_impact341.txt
  reference_data/gene_panels/data_gene_panel_myb_impact410.txt
  reference_data/gene_panels/data_gene_panel_myb_impact468.txt
  reference_data/gene_panels/data_gene_panel_novartis_broad_1651.txt
  reference_data/gene_panels/data_gene_panel_prad_mskcc_sequenom.txt
  reference_data/gene_panels/data_gene_panel_prad_mskcc_sequenom_sanger.txt
  reference_data/gene_panels/data_gene_panel_ucla_1202.txt
  reference_data/gene_panels/data_gene_panel_wustl_dfci_623.txt
Labels: do not merge

#1429 CPTAC Phosphosite Level data
  public/brca_tcga/case_lists/cases_phosphoprotein_quantification.txt
  public/brca_tcga/data_phosphoprotein_quantification.txt
  public/brca_tcga/data_protein_quantification.txt
  public/brca_tcga/data_protein_quantification_Zscores.txt
  public/brca_tcga/meta_phosphoprotein_quantification.txt
  public/brca_tcga_pan_can_atlas_2018/case_lists/cases_phosphoprotein_quantification.txt
  public/brca_tcga_pan_can_atlas_2018/data_phosphoprotein_quantification.txt
  public/brca_tcga_pan_can_atlas_2018/meta_phosphoprotein_quantification.txt
  public/brca_tcga_pan_can_atlas_2018/meta_protein_quantification_Zscores.txt
  public/coad_cptac_2019/case_lists/cases_phosphoprotein_quantification.txt
  public/coad_cptac_2019/data_phosphoprotein_quantification.txt
  public/coad_cptac_2019/data_protein_quantification.txt
  public/coad_cptac_2019/data_protein_quantification_Zscores.txt
  public/coad_cptac_2019/meta_phosphoprotein_quantification.txt
  public/coad_cptac_2019/meta_protein_quantification.txt
  public/coad_cptac_2019/meta_protein_quantification_Zscores.txt
  public/ov_tcga/case_lists/cases_phosphoprotein_quantification.txt
  public/ov_tcga/data_phosphoprotein_quantification.txt
  public/ov_tcga/data_protein_quantification.txt
  public/ov_tcga/data_protein_quantification_Zscores.txt
  public/ov_tcga/meta_phosphoprotein_quantification.txt
  public/ov_tcga_pan_can_atlas_2018/case_lists/cases_phosphoprotein_quantification.txt
  public/ov_tcga_pan_can_atlas_2018/data_phosphoprotein_quantification.txt
  public/ov_tcga_pan_can_atlas_2018/meta_phosphoprotein_quantification.txt
Labels: Public Release, ready to review
